body {
    background-color: #333;
}

h1 {
    color: transparent;
    text-align: center;
    font-weight: 800;
    background-clip: text;
    background-image: linear-gradient(to right, rgb(134, 239, 172), rgb(59, 130, 246), rgb(147, 51, 234))
}